<% layout('layout') -%>
<script src="/js/submit.js" defer></script>

<div class="page-header text-center">
    <h2 class="company-head" id="<%= fbid %>"><%= title %></h2>
</div>
<div class="container">
  <%- include ../menu/items %>
</div>
