<% layout('layout') -%>
<script src="/js/submit.js" defer></script>

<div class="page-header text-center">
    <h2 class="company-head" id="<%= fbid %>"><%= title %></h2>
    <div>
        <a href="/api/photos/<%= fbid %>" role="button" class="btn btn-default btn-space home-button">
            Fetch photos from Facebook
        </a>
    </div>
</div>
<div class="container">
  <%- include ../menu/items %>
</div>
