<% layout('layout') -%>


<div class="custom-container" ng-controller="UserLoginCtrl">
  <div class="page-header">
    <h3>Sign in</h3>
  </div>
  <form novalidate method="POST" action="/login" name="loginForm">
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <a href="/auth/facebook" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
      </div>
    </div>
  </form>
</div>