<% layout('layout') -%>

<div class="text-center">
    <h1>MENUBOT</h1>
    <p class="lead">A platform for automated customer interaction</p>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h2>Orders</h2>
        <p>
            A todo list of people's orders goes here
        </p>
        <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
    </div>
    <div class="col-xs-12 col-sm-12">
        <h2>Accounts</h2>
        <p>
            Link to the companies / accounts that this user manages
        </p>
        <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
    </div>
</div>