<% layout('layout') -%>

<div class="text-center">
  <h1>MENUBOT</h1>
  <p class="lead">A platform for automated customer interaction</p>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12 col-sm-6">
      <span>
        this is where the login goes
      </span>
  </div>
</div>