<% layout('layout') -%>
<div class="text-center total-center" style="margin-top:45px;">
  <h2>Your code checks out! Log in with Facebook below.</h2>
  <form novalidate method="POST" action="/login" name="loginForm">
      <a href="/auth/facebook" class="btn btn-block btn-facebook btn-social center-block">
          <i class="fa fa-facebook"></i>Sign in with Facebook
      </a>
  </form>
</div>
