<% layout('layout') -%>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Our Privacy Policy</h1>
      <p>
        We collect a number of pieces of personal data from both our end users (those interacting with the messenger bot and making orders),
        and our clients (those paying for our services, creating menus, and receiving orders). We assure you, these pieces of data are integral
        to the day to day running of the service, and are entirely used to improve the customer experience.
      </p>
      <p>
        Every piece of data we collect from both end users and clients is detailed below, along with it's purpose and use in our system.
        If you would like to view, contest the accuracy, alter, or delete any of your personal data collected by us, don’t hesitate to
        contact us at daish@piric.io, or knox@piric.io
      </p>
      <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2>End users</h2>
      <h4>Facebook profile photo image urls and username</h4>
      <p>
        Note: We are not collecting any actual images. We are only collecting the URL
        that points to the image. This means that if the image is deleted from Facebook,
        changed, or if the URL is rendered inaccurate for any reason, we will have no
        record of the image.
      </p>
      <p>
        We’re using your Facebook profile photo url and Facebook
        username to accurately display your profile to the company
        you have ordered at. This is intended to make the pick up
        process as simple and painless as possible, and allow the
        company to more easily identify and remember repeat customers.
      </p>
      <br>
      <h4>User profile Facebook Id</h4>
      <p>
        We are storing user profile Facebook Ids as a means to programmatically identify
        and catalog each user’s orders and image urls as belonging to them. It is also used
        to query Facebook’s database to request other pieces of data, such as image urls.
      </p>
      <br>
      <h4>The specifics of any orders taken through MenuBot (The requested pickup time and
        the item ordered)</h4>
      <p>
        We are using the details of your order to tell the company what you’ve ordered.
        We are also storing this information for possible analysis and distribution later.
      </p>
      <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h2>Clients</h2>
    <h4>User profile and page Facebook Ids</h4>
    <p>
      We are storing user profile and page Facebook Ids as a means to programmatically
      identify and catalog each user’s pages, and each page’s orders, menu items, and
      image urls as belonging to them. It is also used to query Facebook’s database to
      request other pieces of data, such as image urls, or to set up the MenuBot Messenger
      bot.
    </p>
    <br>
    <h4>Facebook page access tokens</h4>
    <p>
      We are storing and using your Facebook page access tokens to have the authorisation
      to set up the MenuBot Messenger bot and request information, like image urls. Each
      access token expires after a set amount of time, only works for our website/app,
      and only authorises a few actions.
    </p>
    <br>
    <h4>Facebook user and page names</h4>
    <p>
      We are storing Facebook user and page names to display them to you, so that you can
      identify that you’re logged in, which menu you’re interacting with, which orders page
      you’re interacting with, ECT. We are also storing it so that we have a full list of
      every company we have as clients.
    </p>
    <br>
    <h4>Facebook user profile photo and page profile photo image urls</h4>
    <p>
      Note: We are not collecting any actual images. We are only collecting the URL
      that points to the image. This means that if the image is deleted from Facebook,
      changed, or if the URL is rendered inaccurate for any reason, we will have no
      record of the image.
    </p>
    <p>
      We are using your Facebook profile photo and page profile photo image urls to display
      your profile pictures to you, so that you know which account you are logged in as,
      and which menu/orders page you are about to interact with.
    </p>
    <br>
    <h4>Facebook page “menu album” image urls</h4>
    <p>
      Note: We are not collecting any actual images. We are only collecting the URL
      that points to the image. This means that if the image is deleted from Facebook,
      changed, or if the URL is rendered inaccurate for any reason, we will have no
      record of the image.
    </p>
    <p>
      We use your Facebook page “menu album” image urls to display the images you have
      set to end users interacting with your menu, so that they can see a visual representation
      of the items you have added to your menu.
    </p>
  </div>
</div>
