<% layout('layout') -%>

<div id="root"></div>

<div style="padding: 5px" class="col-xs-12 col-md-8 col-md-offset-2">

  <div class="row">
    <div class="col-xs-12 item-container top-open-borders top-large-gap">
      <div class="col-xs-10">
        <input type="text" class="entry-input" placeholder="Rename this item...">
      </div>
      <div class="col-xs-2">
        <button class="large-edit-button" type="button">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
      <i class="fa fa-chevron-up entry-arrow" aria-hidden="true"></i>
    </div>

    <div class="col-xs-12 item-children-container">

      <div class="row container-row">
        <div class="col-xs-12 type-container closed-borders top-med-gap">
          <div class="col-xs-10">
            <input type="text" class="entry-input" placeholder="Rename this type...">
          </div>
          <div class="col-xs-2">
            <button class="med-edit-button" type="button">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <i class="fa fa-chevron-down entry-arrow" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row container-row">
        <div class="col-xs-12 type-container top-open-borders top-med-gap">
          <div class="col-xs-10">
            <input type="text" class="entry-input" placeholder="Rename this type...">
          </div>
          <div class="col-xs-2">
            <button class="med-edit-button" type="button">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <i class="fa fa-chevron-up entry-arrow" aria-hidden="true"></i>
        </div>

        <div class="col-xs-12 type-children-container">
          <div class="row container-row">
            <div class="col-xs-12 size-container closed-borders top-smol-gap">
              <div class="col-xs-10">
                <input type="text" class="entry-input" placeholder="Rename this size...">
              </div>
              <div class="col-xs-2">
                <button class="smol-edit-button" type="button">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row container-row">
            <div class="col-xs-12 size-container closed-borders top-smol-gap">
              <div class=" col-xs-12">
                <input type="text" class="entry-input" placeholder="Add a new size...">
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 type-container bottom-open-borders container-bottom"></div>
      </div>

      <div class="row container-row">
        <div class="col-xs-12 type-container closed-borders top-med-gap bot-med-gap">
          <div class="col-xs-12">
            <input type="text" class="entry-input" placeholder="Add a new type...">
          </div>
        </div>
      </div>

    </div>

    <div class="col-xs-12 item-container bottom-open-borders container-bottom"></div>

  </div>


  <div class="row">
    <div class="col-xs-12 item-container closed-borders top-large-gap">
      <div class="col-xs-10">
        <input type="text" class="entry-input" placeholder="Rename this item...">
      </div>
      <div class="col-xs-2">
        <button class="large-edit-button" type="button">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
      <i class="fa fa-chevron-down entry-arrow" aria-hidden="true"></i>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 item-container closed-borders top-large-gap">
      <div class="col-xs-12">
        <input type="text" class="entry-input" placeholder="Add a new item...">
      </div>
    </div>
  </div>

</div>

<div class="editor-darkener">
  <div class="row container-row editor-row" style="width: 720px;">
    <div class="col-xs-12 item-container closed-borders" style="top: 100px;">
      <div class="col-xs-10">
        <input type="text" class="entry-input" placeholder="Rename this item...">
      </div>
      <div class="col-xs-2">
        <button class="large-edit-button" type="button">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div style="padding-bottom: 52%"></div>
        <div class="entry-image"></div>
      </div>
      <div class="col-xs-12 col-sm-6" style="padding: 5px;">
        <textarea rows="3" class="entry-input" placeholder="Add a description... (80 character limit)"></textarea>
        <div class="entry-price-container center-when-mobile">
          <div>
            <span>$</span>
          </div>
          <input type="text" placeholder="Price...">
        </div>
        <div class="entry-delete-button center-when-mobile">
          Delete
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/configuration.bundle.js"></script>

<!-- YOU ARE NOW ENTERING THE PROTOTYPE ZONE -->

<!-- Entry container -->
<div style="padding: 5px" class="col-xs-12 col-md-8 col-md-offset-2">
  <!-- Entries go here -->
</div>


<!-- New item -->
<div class="row">
  <div class="col-xs-12 item-container closed-borders top-large-gap">
    <div class="col-xs-12">
      <input type="text" class="entry-input" placeholder="Add a new item...">
    </div>
  </div>
</div>


<!-- Closed item -->
<div class="row">
  <div class="col-xs-12 item-container closed-borders top-large-gap">
    <div class="col-xs-10">
      <input type="text" class="entry-input" placeholder="Rename this item...">
    </div>
    <div class="col-xs-2">
      <button class="large-edit-button" type="button">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
    <i class="fa fa-chevron-down entry-arrow" aria-hidden="true"></i>
  </div>
</div>


<!-- Open item -->
<div class="row">
  <div class="col-xs-12 item-container top-open-borders top-large-gap">
    <div class="col-xs-10">
      <input type="text" class="entry-input" placeholder="Rename this item...">
    </div>
    <div class="col-xs-2">
      <button class="large-edit-button" type="button">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
    <i class="fa fa-chevron-up entry-arrow" aria-hidden="true"></i>
  </div>

  <div class="col-xs-12 item-children-container">
    <!-- Types go here -->
  </div>

  <div class="col-xs-12 item-container bottom-open-borders container-bottom"></div>
</div>


<!-- New type -->
<div class="row container-row">
  <div class="col-xs-12 type-container closed-borders top-med-gap bot-med-gap">
    <div class="col-xs-12">
      <input type="text" class="entry-input" placeholder="Add a new type...">
    </div>
  </div>
</div>


<!-- Closed type -->
<div class="row container-row">
  <div class="col-xs-12 type-container closed-borders top-med-gap">
    <div class="col-xs-10">
      <input type="text" class="entry-input" placeholder="Rename this type...">
    </div>
    <div class="col-xs-2">
      <button class="med-edit-button" type="button">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
    <i class="fa fa-chevron-down entry-arrow" aria-hidden="true"></i>
  </div>
</div>


<!-- Open type -->
<div class="row container-row">
  <div class="col-xs-12 type-container top-open-borders top-med-gap">
    <div class="col-xs-10">
      <input type="text" class="entry-input" placeholder="Rename this type...">
    </div>
    <div class="col-xs-2">
      <button class="med-edit-button" type="button">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
    <i class="fa fa-chevron-up entry-arrow" aria-hidden="true"></i>
  </div>

  <div class="col-xs-12 type-children-container">
    <!-- Sizes go here -->
  </div>

  <div class="col-xs-12 type-container bottom-open-borders container-bottom"></div>
</div>


<!-- New Size -->
<div class="row container-row">
  <div class="col-xs-12 size-container closed-borders top-smol-gap">
    <div class=" col-xs-12">
      <input type="text" class="entry-input" placeholder="Add a new size...">
    </div>
  </div>
</div>



<!-- Size -->
<div class="row container-row">
  <div class="col-xs-12 size-container closed-borders top-smol-gap">
    <div class="col-xs-10">
      <input type="text" class="entry-input" placeholder="Rename this size...">
    </div>
    <div class="col-xs-2">
      <button class="smol-edit-button" type="button">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


<!-- Editor overlay -->
<div class="editor-darkener">
  <div class="row container-row editor-row" style="width: 720px;">
    <div class="col-xs-12 <!-- Entry type goes here -->-container closed-borders" style="top: 100px;">
      <div class="col-xs-10">
        <input type="text" class="entry-input" placeholder="Rename this <!-- Entry type goes here -->...">
      </div>
      <div class="col-xs-2">
        <button class="large-edit-button" type="button">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div style="padding-bottom: 52%"></div>
        <div class="entry-image"></div>
      </div>
      <div class="col-xs-12 col-sm-6" style="padding: 5px;">
        <textarea rows="3" class="entry-input" placeholder="Add a description... (80 character limit)"></textarea>
        <div class="entry-price-container center-when-mobile">
          <div>
            <span>$</span>
          </div>
          <input type="text" placeholder="Price...">
        </div>
        <div class="entry-delete-button center-when-mobile">
          Delete
        </div>
      </div>
    </div>
  </div>
</div>
