.centering {
  text-align: center;
  padding-bottom: 2em;
}

.total-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn-facebook {
  text-align: center;
  width: 20em;
  height: 2.5em;
}

 .smaller-fb {
   width: 2.4em;
   height: 2.4em;
   bottom: 0px;
   right: 0px;
   position: absolute;
 }

//Note: The Facebook icon's size cannot be reactive because it is set as
//a background-image property. Therefore, to prevent whitespace and the majority
//of cut off photo, I have set width and height definitively via a px unit
//corresponding to the FB image's dimensions as requested in it's URL.
//This goes against good practice.
 .company-photo {
   width: 200px;
   height: 133px;
   position: relative;
 }

 .demoVidRatio {
   display:block;
   width:100%;
   height:auto;
 }

 .demoVid {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
 }

 .home-button {
   width: 200px;
 }

 .info-button {
   font-size:18px;
   margin-left:-4px;
   margin-right: 2px;
 }

.col-centered{
  float: none;
  margin: 0 auto;
}

.btn-space {
  margin-top: 1em;
}

.btn-downspace {
  margin-bottom: 1em;
}

.new-thing {
  background-color: #f2f2f2;
}

.header-logo {
  display:inline;
  padding:5px 10px 5px 10px;
  background-color: #a9cdeb;
  border-radius: 10px 10px 0px 10px;
}

.header-logo-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  display:inline;
  color: white;
}

.header-logo-accompaniment {
  font-size:17px;
  font-family:'Roboto',sans-serif;
  display:inline;
  margin-left:5px
}

//New configuration classes

@large_gap: 13px;
@med_gap: 10px;
@smol_gap: 7px;

@mobi_large_gap: 10px;
@mobi_med_gap: 4px;
@mobi_smol_gap: 4px;

@large_input_fontsize: 25px;
@med_input_fontsize: 20px;
@smol_input_fontsize: 17px;

@raised_background_color: #e8e8e8;
@lowered_background_color: #cfcfcf;
@extra_lowered_background_color: #b8b8b8;

@raised_border_color: #b5b5b5;

@default_border_radius: 3px;

.subtle_box_shadow () {
  box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
}




@media (max-width:400px) {
  //This css is true in a mobile sized viewport
  .top-large-gap {margin-top: @mobi_large_gap;}
  .bot-large-gap {margin-bot: @mobi_large_gap;}

  .top-med-gap {margin-top: @mobi_med_gap;}
  .bot-med-gap {margin-bot: @mobi_med_gap;}

  .top-smol-gap {margin-top: @mobi_smol_gap;}
  .bot-smol-gap {margin-bot: @mobi_smol_gap;}

  .item-children-container {
    padding: 0 @mobi_med_gap @mobi_med_gap @mobi_med_gap;
    background-color: @lowered_background_color;
  }

  .type-children-container {
    padding: 0 @mobi_smol_gap @mobi_smol_gap @mobi_smol_gap;
    background-color: @extra_lowered_background_color;
    border-width: 0 1px 0 1px;
    border-color: @raised_border_color;
    border-style: solid;
  }
}

@media (min-width:401px) {
  //This css is true in a tablet or larger view
  .top-large-gap {margin-top: @large_gap;}
  .bot-large-gap {margin-bot: @large_gap;}

  .top-med-gap {margin-top: @med_gap;}
  .bot-med-gap {margin-bot: @med_gap;}

  .top-smol-gap {margin-top: @smol_gap;}
  .bot-smol-gap {margin-bot: @smol_gap;}

  .item-children-container {
    padding: 0 @med_gap @med_gap @med_gap;
    background-color: @lowered_background_color;
  }

  .type-children-container {
    padding: 0 @smol_gap @smol_gap @smol_gap;
    background-color: @extra_lowered_background_color;
    border-width: 0 1px 0 1px;
    border-color: @raised_border_color;
    border-style: solid;
  }
}

.closed-borders {
  border-style: solid;
  border-width: 1px;
  border-color: @raised_border_color;
  border-radius: @default_border_radius;
  .subtle_box_shadow;
}

.top-open-borders {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: @raised_border_color;
  border-radius: @default_border_radius @default_border_radius 0 0;
  .subtle_box_shadow;
}

.bottom-open-borders {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: @raised_border_color;
  border-radius: 0 0 @default_border_radius @default_border_radius;
  .subtle_box_shadow;
}

.container-row {
  padding: 0;
  margin: 0;
}

.item-container {
  cursor: pointer;
  background-color: @raised_background_color;
  padding: 4px;
  div {
    padding: 0;
    input {
      font-size: @large_input_fontsize;
    }
  }
}


.type-container {
  cursor: pointer;
  background-color: @raised_background_color;
  padding: 4px;
  div {
    padding: 0;
    input {
      font-size: @med_input_fontsize;
    }
  }
}


.size-container {
  cursor: pointer;
  background-color: @raised_background_color;
  padding: 4px;
  div {
    padding: 0;
    input {
      font-size: @smol_input_fontsize;
    }
  }
}


.entry-input {
  padding: 0 3px 0 3px;
  width: 100%;
  background-color: @raised_background_color;
  border: none;
  outline: 0;
  border: solid @raised_background_color 1px;
  border-radius: @default_border_radius;
  transition: box-shadow .3s, border .3s, transform .3s;
  &.focus,
  &:focus {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .2);
    border: solid @raised_border_color 1px;
    transform: scale(.995);
  }
}

.entry-price-container {
  div {
    padding: 2px 4px 2px 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 0 0 4px;
    border-color: @raised_border_color;
    cursor: default;
    display: inline-block;
    div {
      color: #000;
      margin: auto;
      font-size: 17px;
    }
  }

  input {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 4px 4px 0;
    border-color: @raised_border_color;
    display: inline-block;
    font-size: 17px;
    width: 4em;
    padding: 0 3px 0 3px;
    background-color: @raised_background_color;
    outline: 0;
    transition: box-shadow .3s;
    &.focus,
    &:focus {
      box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .2);
    }
  }
}

.entry-image {
  background-image: url(https://scontent.xx.fbcdn.net/v/t31.0-8/15874934_1290529604343705_5517852160362023404_o.jpg.webp?oh=5a0b4b5eea1d7395d7ca757ceacb0c65&oe=5918EAE2);
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: cover;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  border-radius: @default_border_radius;
  margin: 5px;
}

.entry-arrow {
  margin-left: 50%;
  transform: translate(-50%, 0);
  font-size: 23px;
}

.large-remove-button {
  float: right;
  background-color: inherit;
  border: none;
  i {
    color: #000;
    font-size: @large_input_fontsize;
    padding-top: 3px;
  }
}

.med-remove-button {
  float: right;
  background-color: inherit;
  border: none;
  i {
    color: #000;
    font-size: @med_input_fontsize;
    padding-top: 3px;
  }
}

.smol-remove-button {
  float: right;
  background-color: inherit;
  border: none;
  i {
    color: #000;
    font-size: @smol_input_fontsize;
    padding-top: 3px;
  }
}


//orders classes

.order-top-container {
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-radius: 3px 3px 0px 0px;
  padding-top: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.order-mid-container {
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  padding-top: 0px;
  cursor: pointer;
}

.order-bottom-container {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 3px 3px;
  padding-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

.order-alone-container {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding-top: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.order-photo {
  border: 1px solid black;
  height: 5em;
  width: 5em;
  display: block;
  margin-bottom: 20px;
}

.order-text {
  font-size: 15px;
}

.order-divider {
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px solid lightgrey;
}

.big-order-text {
  font-size: 19px;
}

.order-line {
  border-top: 1px solid black;
  margin-top: -6px;
  margin-bottom: 15px;
}

.order-content-container {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}


//menu classes

.overlay-container {
  height: 100%;
  overflow: hidden;
}

#spinner-overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  min-height: 100%;
  background-color:rgba(0, 0, 0, 0.60);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent;
  z-index:9999;
  color: white;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #B9F6CA;
  border-bottom: 16px solid #FFE0B2;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50vh;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.testing-border {
  border: 1px black dotted;
}

@media (max-width: 767px) {
   .company-head {
     text-align: center;
  }

  .location-setter-container {
    float: none;
  }

  .reactive-centering {
    text-align: center;
  }

  .reactive-distr {
    margin-bottom: 7px;
  }
}


 @media (min-width: 768px) {

  .location-setter-container {
    float: right;
  }

  .options-container {
    float:right;
  }
}


.the-magic-fix-that-fixes-everything-and-you-have-no-idea-why-it-does-that {
  border: #e8e8e8 solid 1px;
}

.location-setter-container {
  padding: 0.5em;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  background-color: #e8e8e8;
  margin-top:1em;
  min-width: 310px;
}

.menu-photo {
  width: 7em;
  height: 7em;
}

.item-outer-container {
  background-color: #B9F6CA;
  border: 1px solid #a9e0b8;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.item-heading-inner-container {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.item-remove-button {
  float: left;
  background-color: inherit;
  border: none;
}

.item-remove-button-glyph {
  color: #ff0033;
  font-size: 30px;
  padding-top: 3px;
}

.item-title {
  float: left;
  font-size: 30px;
}

.item-price {
  float: right;
  font-size: 30px;
  color: grey;
  text-decoration: line-through;
}

.item-price-button {
  border-radius: 0px 4px 4px 0px;
}

.item-price-input {
  margin-top:-10px;
}

.item-content-inner-container {
  margin-left: 0px;
  margin-right: 0px;
}

.item-input-inner-container {
}

.option-remove-button {
  float: left;
  background-color: inherit;
  border: none;
  margin-top: -1px;

}

.option-remove-button-glyph {
  color: #ff0033;
  font-size: 20px;
}

.type-offseter {
  padding-left: 15px;
  padding-top: 10px;
}

.type-outer-container {
  background-color: #BBDEFB;
  border: 1px solid #a9c9e3;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.type-heading-inner-container {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.type-remove-button {
  float: left;
  background-color: inherit;
  border: none;
}

.type-remove-button-glyph {
  color: #ff0033;
  font-size: 26px;
  padding-top: 3px;
}

.item-price-adder {
  margin: 0px 6px 0px 6px;
  font-size: 17px;
}

.type-title {
  float: left;
  font-size: 26px;
}

.type-price-button {
  border-radius: 0px 4px 4px 0px;
  padding: 10px 0px 10px 0px;
}

.type-content-inner-container {
  margin-left: 16px;
  margin-right: 16px;
}

.type-input-inner-container {
  padding-left: 11px;
}

.size-offseter {
  padding-left: 15px;
  padding-top: 10px;
}

.size-outer-container {
  background-color: #FFE0B2;
  border: 1px solid #e8cca2;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.size-heading-inner-container {
  padding-left: 12px;
  padding-top: 10px;
  padding-right: 15px;
}

.new-size-heading-inner-container {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 15px;
}

.size-remove-button {
  float: left;
  background-color: inherit;
  border: none;
}

.size-remove-button-glyph {
  color: #ff0033;
  font-size: 22px;
  padding-top: 3px;
}

.size-title {
  float: left;
  font-size: 22px;
}

.size-price-adder {
  margin: 0px 3px 0px 3px;
}

.size-price-button {
  border-radius: 0px 4px 4px 0px;
}

.size-content-inner-container {
  margin-left: 16px;
  margin-right: 16px;
}

.size-input-inner-container {
  padding-left: 11px;
  margin-bottom: 11px;
}


//Tooltip css

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }
