.col-xs-12 {
  text-align: center;
}

.col-sm-6 {
  text-align: center;
}

.btn-facebook {
  text-align: center;
  width: 20em;
  height: 2.5em;
}
 .smaller-fb {
   width: 10em;
 }

 .menu-photo {
   width: 7em;
   height: 7em;
 }