.col-xs-12 {
  text-align: center;
}

.col-sm-6 {
  text-align: center;
}

.btn-facebook {
  text-align: center;
  width: 20em;
  height: 2.5em;
}
 .smaller-fb {
   width: 10em;
 }

 .company-photo {
   width: 15em;
   height: 10em;
 }

 .menu-photo {
   width: 7em;
   height: 7em;
 }

 .type-photo {
   width: 4em;
   height: 4em;
 }

.col-centered{
  float: none;
  margin: 0 auto;
}

.btn-space {
  margin-top: 1em;
  display: none;
}

.new-thing {
  background-color: #f2f2f2;
}

.item-list {
  background-color: #B9F6CA;
}

.type-list {
  background-color: #BBDEFB;
}

.size-list {
  background-color: #FFE0B2;
}
