<% layout('layout') -%>

<h2>API Examples</h2>
<hr/>
<div class="row">
  <div class="col-sm-4">
    <a href="/api/facebook" style="color: #fff">
      <div style="background-color: #3b5998" class="panel panel-default">
        <div class="panel-body"><img src="http://i.imgur.com/jiztYCH.png" height="40"/> Facebook</div>
      </div>
    </a>
  </div>
</div>