<div class="row type-heading-inner-container">
  <p style="margin-left:11px;" class="type-title">Create New Type</p>
</div>
<div class="row type-input-inner-container">
  <div class="col-xs-11 col-md-6">
    <form class="menu-entry" id="new-type-<%= items[i].itemid %>" name="<%= items[i].itemid %>">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control menu" name="type"
               placeholder="Type name (eg: Latte, cappuccino, ham)" autocomplete="off"
            >
            <span class="input-group-btn">
               <button class="btn btn-default" type="submit">Add</button>
            </span>
          </div>
        </div>
    </form>
  </div>
</div>
