<h3>new menu item</h3>
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="new-item" placeholder="item name">
    </div>
    <img src="/images/new-item.jpg" class="thumbnail center-block menu-photo" />
    <div class="form-group">
        <label for="new-item-photo">upload photo</label>
        <input type="file" id="new-item-photo">
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <h4>new type</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="new-type" placeholder="type name">
            </div>
            <img src="/images/new-item.jpg" class="thumbnail center-block menu-photo" />
            <div class="form-group">
                <label for="exampleInputFile">Change photo</label>
                <input type="file" id="exampleInputFile">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h5>new size / price</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" id="new-size" placeholder="size">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" aria-label="price" id="new-price" placeholder="price">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-space" id="button-new-item">Submit</button>
        </div>
    </div>
</form>
