<div class="row size-heading-inner-container">
  <p class="size-title">Create New Size</p>
</div>
<div class="row size-input-inner-container">
  <div class="col-xs-11 col-md-6">
    <form id="new-size-<%= types[x].typeid %>" name="<%= types[x].typeid %>" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" name="size" placeholder="Size name (eg: Large)" required>
          <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control" name="price" aria-label="price" placeholder="Price" required>
          </div>
        </div>
        <button type="submit" id="button-size" class="btn btn-default btn-space hidden">Submit</button>
    </form>
  </div>
</div>
