<div class="row item-heading-inner-container">
  <p class="item-title">Create New Item</p>
</div>
<div class="row item-input-inner-container">
  <div class="col-xs-11 col-md-6">
    <form id="new-item">
        <div class="form-group">
            <input type="text" class="form-control menu" name="item" placeholder="Item name (eg: Coffee, sandwich)" autocomplete="off">
        </div>
    </form>
  </div>
</div>
