<div class="row new-size-heading-inner-container">
  <p class="size-title">Create New Size</p>
</div>
<div class="row size-input-inner-container">
  <div class="col-xs-11 col-md-6">
    <form class="menu-entry" id="new-size-<%= types[x].typeid %>" name="<%= types[x].typeid %>" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="size" placeholder="Size name (eg: Large)"
               autocomplete="off"
            >
            <span class="input-group-btn">
               <button class="btn btn-default" type="submit">Add</button>
            </span>
          </div>
        </div>
    </form>
  </div>
</div>
