<div class="row type-heading-inner-container">
  <p style="margin-left:11px;" class="type-title">Create New Type</p>
</div>
<div class="row type-input-inner-container">
  <div class="col-xs-11 col-md-6">
    <form class="menu-entry" id="new-type-<%= items[i].itemid %>" name="<%= items[i].itemid %>">
        <div class="form-group">
            <input type="text" class="form-control menu" name="type"
                   placeholder="Type name (eg: Latte, cappuccino, ham)" autocomplete="off"
            >
        </div>
        <button type="submit" class="btn btn-default btn-space hidden">Submit</button>
    </form>
  </div>
</div>
