<% layout('layout') -%>

<div class="text-center">
    <h1>ORDERS</h1>
</div>
<div id="root" name=<%= fbid %>></div>

<script src="/js/orders.bundle.js"></script>

<video autoplay="autoplay" loop="loop" onstart="this.play();" onended="this.play();" src="/video/orderawaker.mp4" muted height="1px" width="1px">
</video>
