<% layout('layout') -%>

<div class="text-center">
    <h1>ORDERS</h1>
</div>
<div class="text-center" id="root" name=<%= fbid %>></div>

<!--<script src="/dist/bundle.js"></script>-->
<script src="/asyncDist/bundle.js"></script>
